* {
    box-sizing: border-box;
}

body {
  background-color: #F7F5F0;
  font-family: Figtree, sans-serif;
}

h2{
	font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
	font-weight: 300;
}

.title {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  pointer-events: none;
  z-index: 2;

  &.icon-success {
    fill: green;
  }

  &.icon-error {
    fill: #FF4162;
  }
}

.container {
  width:100%;
  max-width: 327px;
  text-align:center;
  border: none;
  border-radius: .25rem;
  box-shadow: none;
}

.label {
  font-weight: bold;
  display: block;
  color: #333;
  margin-bottom: .25rem;
  color: #2d3748;
}

.input {
  appearance: none;
  display: block;
  width: 100%;
  height:64px;
  color: #938D85;
  font-size: 16px;
  border: none;
  line-height: 1.25;
  background-color: white;
  padding: 24px;
  border-radius: 24px;
  box-shadow: none;

  &::placeholder {
    color: #938D85;
  }

  &.input-error {
    border: 1px solid #FF4162;
	  background-color: #FF4162;
	  color: #ffffff;

    &:focus {
      border: 1px solid #FF4162;
    }
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-clip: padding-box;
  }
}

.input-group {
  margin-bottom: 16px;
  position: relative;
}

.error-message {
  font-size: .85rem;
  color: #FF4162;
}


.button {
  background-color: #005A44;
  padding: 1rem 2rem;
  border: none;
  border-radius: 24px;
  color: #DDF73B;
  font-weight:400;
	font-size: 16px;
  display: block;
  width: 100%;
	max-width: 327px;
  height: 64px;
  text-align: center;
  cursor: pointer;
	margin: auto;
	
  &:disabled {
     background-color: #938D85;
	color: #ffffff;
  }
	
  &:enabled:hover {
    background-color: #ffffff;
	color: #005A44;
  }
}



.content-container{
  width: 100%;
  text-align:center;
  margin: 56px 0;
}

.button-container{
  width: 100%;
  text-align:center;
  margin: 64px 0;
	position: relative;
}

.account-container{
	width: 100%;
	height:auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.account-container .left-column{
	width: 100%;
    height: auto;
    max-width: 327px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}

.account-container .right-column{
	width: 100%;
    height: auto;
    max-width: 327px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}

@media screen and (max-width: 479px) {
	
.button-container{
  width: 100%;
  text-align:center;
  margin: 0;
	padding:24px;
	position: fixed;
	bottom:0;
}
	
}

